.header {
    display: flex;
    background: #070707;
    color: white;
    height: 80px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.header > * {
    margin: 15px;
}

.header img {
    height: 80%;
}

.header-text {
    font-size: 35px;
}

.invert-color {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}