<div *ngIf="auto">
    <div class="modal-header">
        <h4 class="modal-title">{{ action }} - {{ auto.marca }} {{ auto.submarca }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="modal-body">
        <form [formGroup]="myForm" autocomplete="off">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" formControlName="id" class="form-control" 
                placeholder="Escriba el ID del auto">

                <div *ngIf="formErrors.id" class="alert alert-danger">
                    {{ formErrors.id }}
                </div>
            </div>
    
            <div class="form-group">
                <label for="cveveh">Cveveh</label>
                <input type="text" formControlName="cveveh" class="form-control"
                placeholder="Escriba el Cveveh del auto">

                <div *ngIf="formErrors.cveveh" class="alert alert-danger">
                    {{ formErrors.cveveh }}
                </div>
            </div>
    
            <div class="form-group">
                <label for="marca">Marca</label>
                <input type="text" formControlName="marca" class="form-control"
                placeholder="Escriba la marca del auto">

                <div *ngIf="formErrors.marca" class="alert alert-danger">
                    {{ formErrors.marca }}
                </div>
            </div>
    
            <div class="form-group">
                <label for="submarca">Submarca</label>
                <input type="text" formControlName="submarca" class="form-control"
                placeholder="Escriba la submarca del auto">

                <div *ngIf="formErrors.submarca" class="alert alert-danger">
                    {{ formErrors.submarca }}
                </div>
            </div>
            
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea formControlName="descripcion" class="form-control" rows="2"
                placeholder="Escriba la descripción del auto"></textarea>

                <div *ngIf="formErrors.descripcion" class="alert alert-danger">
                    {{ formErrors.descripcion }}
                </div>
            </div>

            <div class="form-group">
                <label for="descripcioncorta">Descripción Corta</label>
                <textarea formControlName="descripcioncorta" class="form-control" rows="2"
                placeholder="Escriba una descripción corta"></textarea>

                <div *ngIf="formErrors.descripcioncorta" class="alert alert-danger">
                    {{ formErrors.descripcioncorta }}
                </div>
            </div>
    
            <div class="form-group">
                <label>Modelos</label>
                <ngx-slider [(value)]="sliderMinValue" [(highValue)]="sliderMaxValue" [options]="sliderOptions"></ngx-slider>
            </div>
    
            <div class="form-group">
                <label for="ocupantes">Ocupantes</label>
                <input type="number" formControlName="ocupantes" class="form-control"
                placeholder="Escriba el número de ocupantes">

                <div *ngIf="formErrors.ocupantes" class="alert alert-danger">
                    {{ formErrors.ocupantes }}
                </div>
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="close()" [disabled]="myForm.invalid">{{ action }}</button>
    </div>
</div>