.wraper {
    display: inline-flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}

.item {
    display: flex;
    flex: 1;
    background: #070707;
    color: #ffffff;
    height: 100%;
    border: 1px solid rgb(59, 59, 59);
    border-right: none;
    text-decoration: none;
    border-radius: 15px 15px 0px 0px;
}

.item:first-child {
    border-left: none;
}

.item:hover:not(.item-active) {
    filter: invert(100%) brightness(30%);
    cursor: pointer;
}

.item-active {
    background-color: #ffffff;
    color: black;
    cursor: default;
    border-bottom: none;
}

p {
    font-size: 20px;
    margin: auto;
}