.wraper {
    display: inline-flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}

.item {
    --border-color: rgb(59, 59, 59);
    --border-size: 1px;
    display: flex;
    flex: 1;
    background: #070707;
    color: #ffffff;
    height: 100%;

    border: 1px solid rgb(59, 59, 59);
    border-right: none;

    /* box-shadow: 
        var(--border-size) 0 0 0 var(--border-color),
        0 var(--border-size) 0 0 var(--border-color), 
        var(--border-size) var(--border-size) 0 0 var(--border-color),
        var(--border-size) 0 0 0 var(--border-color) inset, 
        0 var(--border-size) 0 0 var(--border-color) inset; */
}

.item:first-child {
    border-left: none;
}

.item:hover {
    background: rgb(34, 34, 34);
    cursor: pointer;
}

p {
    font-size: 20px;
    margin: auto;
}