.table {
    width: 90%;
    margin: auto;
}

.spinner {
    display: block;
    margin: auto;
}

img {
    width: 20px;
    margin: auto
}

img:hover {
    filter: invert(100%) brightness(30%);
    cursor: pointer;
}